body {
  margin: 0;
  min-height: 100vh;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

#game {
  position: relative;
  width: 480px;
  height: 288px;
  margin: 40px auto;
  border: 5px solid black;
  background: #000;
  overflow: hidden;
}

#message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid black;
  font-family: monospace;
  z-index: 20;
}

.player {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("assets/tiles/player.gif");
  background-size: cover;
  image-rendering: pixelated;
  z-index: 10;
}

.tile {
  position: absolute;
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}

.grass {
  background-image: url("assets/tiles/grass.png");
  background-size: cover;
}

.path {
  background-image: url("assets/tiles/path.png");
  background-size: cover;
}

.tree {
  background-image: url("assets/tiles/tree.png");
  background-size: cover;
}

.house {
  background-image: url("assets/tiles/house.png");
  background-size: cover;
}

.gift {
  background-image: url("assets/tiles/gift.png");
  background-size: cover;
}

.euclides {
  background-image: url("assets/tiles/npc.png");
  background-size: cover;
  image-rendering: pixelated;
}

.gauss {
  background-image: url("assets/tiles/npc2.png");
  background-size: cover;
  image-rendering: pixelated;
}

.lhopital {
  background-image: url("assets/tiles/npc3.png");
  background-size: cover;
  image-rendering: pixelated;
}

.gift-screen{

    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,.65);

    z-index: 9999;

}


 .gift-box{
    width: min(800px, 80vw);
    max-height: 80vh;

    overflow-y: auto;

    padding: 40px;

    background: #f8f1dc;

    border: 6px solid #8b6b3f;
    border-radius: 10px;

    box-shadow: 0 15px 40px rgba(0,0,0,.45);

    font-family: "Georgia", serif;
    color: #3a2a18;

    line-height: 1.8;

    background-image:
        linear-gradient(rgba(255,255,255,.12), rgba(255,255,255,.12));
}

.dialogue {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid black;
  font-family: monospace;
  z-index: 40;
}

#closeGift{

    margin-top: 30px;

    padding: 12px 24px;

    background: #8b6b3f;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;

    transition: .2s;

}

#closeGift:hover{

    transform: scale(1.05);

    background:#6f5430;

}

.gift-box h2{

    text-align:center;

    margin-bottom:25px;

    font-size:32px;

    color:#5b3e1d;

}